<section class="gallery">
  <h3>Gallery of best images</h3>
  <div class="sections">
  <div class="section__one">
    <div class="gallery-image"><img src="./img/gallery/column_one/vanglo-house-1.png" alt=""></div>
    <div class="gallery-image"><img src="./img/gallery/column_one/vanglo-house-6.png" class="central__image" alt=""></div>
    <div class="gallery-image"><img src="./img/gallery/column_one/ringve-museum-1.png" alt=""></div>
  </div>
  <div class="section__two">
    <div class="gallery-image"><img src="./img/gallery/column_two/80493541_1281644acb_o.png" alt=""></div>
    <div class="gallery-image"><img src="./img/gallery/column_two/p1_8.png" class="central__image" alt=""></div>
    <div class="gallery-image"><img src="./img/gallery/column_two/vanglo-house-1.png" alt=""></div>
  </div>
  <div class="section__three">
    <div class="two__images">
      <div class="gallery-image"><img src="./img/gallery/column_three/group_one/ringve-museum-1.png" alt=""></div>
      <div class="gallery-image"><img src="./img/gallery/column_three/group_one/Kids-Store-Lighting-2.png" alt=""></div>
    </div>
    <div class="nine__images central__image">
      <div class="gallery-image"><img src="./img/gallery/column_three/group_two/Brazil-staduims-IA.png" alt=""></div>
      <div class="gallery-image"><img src="./img/gallery/column_three/group_two/IA-billionares-6.png" alt=""></div>
      <div class="gallery-image"><img src="./img/gallery/column_three/group_two/IA-Hourses-6.png" alt=""></div>
      <div class="gallery-image"><img src="./img/gallery/column_three/group_two/ia-Pools-1.png" alt=""></div>
      <div class="gallery-image"><img src="./img/gallery/column_three/group_two/Kids-Store-Lighting-1.png" alt=""></div>
      <div class="gallery-image"><img src="./img/gallery/column_three/group_two/Kids-Store-Lighting-2.png" alt=""></div>
      <div class="gallery-image"><img src="./img/gallery/column_three/group_two/vanglo-house-1.png" alt=""></div>
      <div class="gallery-image"><img src="./img/gallery/column_three/group_two/vanglo-house-4.png" alt=""></div>
      <div class="gallery-image"><img src="./img/gallery/column_three/group_two/vanglo-house-6.png" alt=""></div>
    </div>
    <div class="gallery-image"><img src="./img/gallery/column_three/7328272788_c5048326de_o.png" width="370px" alt=""></div>
  </div>
</div>
<button class="load-more">
  <img src="./img/body/work/plus.svg" alt="">
  <p>Load More</p>
</button>
</section>