<section class="purchase">
  <h3>Everything is ready. just buy and install now</h3>
  <p>Smooth reliable, responsive ready, perfect portfolio, unique blog layout and many many options for you</p>
  <button class="purchase-button button">PURCHASE NOW</button>
</section>
