<section class="work">
  <h3>Our Amazing Work</h3>
  <nav class="work-menu">
    <ul class="work-menu-wrap">
      <button id="all" class="active">All</button>
      <button id="graphic_design">Graphic Design</button>
      <button id="web_design">Web Design</button>
      <button id="landing_pages">Landing Pages</button>
      <button id="wordpress">Wordpress</button>
    </ul>
  </nav>
  <div class="work-examples">
    <div class="item web_design active">
      <div class="hover-menu">
      <div class="hover-buttons">
        <button class="hb one">
          <img src="./img/body/work/kryjochki.svg" alt="">
        </button>
        <button class="hb two">
          <div class="cube">
            
          </div>

        </button>
      </div>
      <p class="hover-title">Creative design</p>
      <p class="hover-text">Web Design</p>
      </div>
    <img src="./img/body/work/Layer11.png" alt="">
  </div>
    <div class="item graphic_design active">
      <div class="hover-menu">
        <div class="hover-buttons">
          <button class="hb one">
            <img src="./img/body/work/kryjochki.svg" alt="">
          </button>
          <button class="hb two">
            <div class="cube">
              
            </div>

          </button>
        </div>
        <p class="hover-title">Creative design</p>
        <p class="hover-text">Web Design</p>
        </div>
    <img src="./img/body/work/Layer1.png" alt="">
  </div>
    <div class="item graphic_design active">
      <div class="hover-menu">
        <div class="hover-buttons">
          <button class="hb one">
            <img src="./img/body/work/kryjochki.svg" alt="">
          </button>
          <button class="hb two">
            <div class="cube">
              
            </div>

          </button>
        </div>
        <p class="hover-title">Creative design</p>
        <p class="hover-text">Web Design</p>
        </div>
    <img src="./img/body/work/Layer2.png" alt="">
  </div>
    <div class="item landing_pages active">
      <div class="hover-menu">
        <div class="hover-buttons">
          <button class="hb one">
            <img src="./img/body/work/kryjochki.svg" alt="">
          </button>
          <button class="hb two">
            <div class="cube">
              
            </div>

          </button>
        </div>
        <p class="hover-title">Creative design</p>
        <p class="hover-text">Web Design</p>
        </div>
    <img src="./img/body/work/Layer3.png" alt="">
  </div>
    <div class="item wordpress active">
      <div class="hover-menu">
        <div class="hover-buttons">
          <button class="hb one">
            <img src="./img/body/work/kryjochki.svg" alt="">
          </button>
          <button class="hb two">
            <div class="cube">
              
            </div>

          </button>
        </div>
        <p class="hover-title">Creative design</p>
        <p class="hover-text">Web Design</p>
        </div>
    <img src="./img/body/work/Layer4.png" alt="">
  </div>
    <div class="item graphic_design active">
      <div class="hover-menu">
        <div class="hover-buttons">
          <button class="hb one">
            <img src="./img/body/work/kryjochki.svg" alt="">
          </button>
          <button class="hb two">
            <div class="cube">
              
            </div>

          </button>
        </div>
        <p class="hover-title">Creative design</p>
        <p class="hover-text">Web Design</p>
        </div>
    <img src="./img/body/work/Layer5.png" alt="">
  </div>
    <div class="item web_design active">
      <div class="hover-menu">
        <div class="hover-buttons">
          <button class="hb one">
            <img src="./img/body/work/kryjochki.svg" alt="">
          </button>
          <button class="hb two">
            <div class="cube">
              
            </div>

          </button>
        </div>
        <p class="hover-title">Creative design</p>
        <p class="hover-text">Web Design</p>
        </div>
    <img src="./img/body/work/Layer6.png" alt="">
  </div>
    <div class="item landing_pages active">
      <div class="hover-menu">
        <div class="hover-buttons">
          <button class="hb one">
            <img src="./img/body/work/kryjochki.svg" alt="">
          </button>
          <button class="hb two">
            <div class="cube">
              
            </div>

          </button>
        </div>
        <p class="hover-title">Creative design</p>
        <p class="hover-text">Web Design</p>
        </div>
    <img src="./img/body/work/Layer7.png" alt="">
  </div>
    <div class="item wordpress active">
      <div class="hover-menu">
        <div class="hover-buttons">
          <button class="hb one">
            <img src="./img/body/work/kryjochki.svg" alt="">
          </button>
          <button class="hb two">
            <div class="cube">
              
            </div>

          </button>
        </div>
        <p class="hover-title">Creative design</p>
        <p class="hover-text">Web Design</p>
        </div>
    <img src="./img/body/work/Layer8.png" alt="">
  </div>
    <div class="item wordpress active">
      <div class="hover-menu">
        <div class="hover-buttons">
          <button class="hb one">
            <img src="./img/body/work/kryjochki.svg" alt="">
          </button>
          <button class="hb two">
            <div class="cube">
              
            </div>

          </button>
        </div>
        <p class="hover-title">Creative design</p>
        <p class="hover-text">Web Design</p>
        </div>
    <img src="./img/body/work/Layer9.png" alt="">
  </div>
    <div class="item web_design active">
      <div class="hover-menu">
        <div class="hover-buttons">
          <button class="hb one">
            <img src="./img/body/work/kryjochki.svg" alt="">
          </button>
          <button class="hb two">
            <div class="cube">
              
            </div>

          </button>
        </div>
        <p class="hover-title">Creative design</p>
        <p class="hover-text">Web Design</p>
        </div>
    <img src="./img/body/work/Layer10.png" alt="">
  </div>
    <div class="item landing_pages active">
      <div class="hover-menu">
        <div class="hover-buttons">
          <button class="hb one">
            <img src="./img/body/work/kryjochki.svg" alt="">
          </button>
          <button class="hb two">
            <div class="cube">
              
            </div>

          </button>
        </div>
        <p class="hover-title">Creative design</p>
        <p class="hover-text">Web Design</p>
        </div>
    <img src="./img/body/work/Layer11.png" alt="">
  </div>
  </div>
  <button class="load-more">
    <img src="./img/body/work/plus.svg" alt="">
    <p>Load More</p>
  </button>
</section>